/* ==UserStyle==
@name           Twitch - personal additions
@namespace      github.com/openstyles/stylus
@version        1.0.7
@homepageURL    https://github.com/quiddity-wp/style-tweaks/blob/master/twitch-personal-additions.user.css
@updateURL      https://raw.githubusercontent.com/quiddity-wp/style-tweaks/master/twitch-personal-additions.user.css
@description    Twitch - personal additions
@author         quiddity-wp
==/UserStyle== */

@-moz-document domain("twitch.tv"), domain("ext-twitch.tv") {

/* CHAT TWEAKS  -- use these in your own private css */
/* ----------- */
/* Reduce opacity for streamer's channel bots you want to kinda-ignore */
.chat-line__message[data-user="lowercase_botname"] {opacity: 0.3;}
.chat-line__message[data-user="lowercase_botname2"] {opacity: 0.3;}
.chat-line__message[data-user="lowercase_botname3"] {opacity: 0.2;}
/* Highlight special people - BLUE background */
.chat-line__message[data-user="lowercase_username"], 
.chat-line__message[data-user="lowercase_username2"]
{background: #01029f;}
/* Highlight special people - RED background */
.chat-line__message[data-user="lowercase_username"],
.chat-line__message[data-user="lowercase_username2"]
{background: #641b1b;}

/* CUSTOM UI TWEAKS */
/* ---------------- */
/* Thinner left-sidebar */
.side-nav--collapsed:not(.side-nav--hover-exp) {width: 4rem;}
.tw-image-avatar {max-width: 90%; margin-left: 1px; }

/* Bigger channel point redeem menu */
.reward-center__content {
  height: 77vh !important;
  background-color: black  !important;
  bottom: 5px !important;
  position: absolute
}
/* and new "bits reward" stuff in 2024 */
.emote-picker__tab-content-bits-rewards {
height: 63vh  !important;
}

/* Reduce opacity of the stream's #tags */
.tw-tag {
  opacity: 0.3;
}

/* hide pokebot stuff completely */
.poketwitch {
display: none !important;
background: black !important;
}
.poketwitch__content-wrapper  {
background: black !important;
}

/* Reduce opacity of the pronouns extension */
.user-pronoun {
  color: gray;
  border-color: gray;
  font-size: 0.8em;
}

/* Reduce opacity streak messages
.jjAyLi {
  opacity: 0.3;
} */

/* eliminate caption extension */
.evMqrC {
display: none !important;
visibility: hidden !important;
}

/* Hide "reactions" nonsense */
.hljDeB {
display: none !important;
}

/* smaller "manage your sub" AND A LOT OF OTHER THINGS BY ACCIDENT
.hLLag {
  width: 35px
} */

/* Gap above description */
#live-channel-about-panel {
  margin-top: 190px !important;
}

/* Reduce opacity headers */
#chat-room-header-label {
  opacity: 30%;
}

/* FFZ STUFF - Safely Ignore this if you don't use it */
/* ---------------- */
/* Reduce opacity of blocked "XXX"s in the FFZ extension */
.ffz--blocked {
  opacity: 0.2;
}
/* ffz tweaks to popout sizes */
@media screen and (min-width: 1206px) {
  .ffz--emote-picker.ffz--emote-picker__tall .emote-picker__tab-content,
  .ffz--emote-picker.ffz--emote-picker__tall .emote-picker__nav-content-overflow,.emote-picker {
    max-height: 65vh !important;
    width: unset !important;
    max-width: 50rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 1205px) {
  .ffz--emote-picker.ffz--emote-picker__tall .emote-picker__tab-content,
  .ffz--emote-picker.ffz--emote-picker__tall .emote-picker__nav-content-overflow,.emote-picker {
    max-height: 50vh !important;
    width: unset !important;
    max-width: 50rem;
  }
}
/* fix background */
.tw-absolute.ffz-attached.ffz-attached--right.ffz-attached--up {
  background: black !important;
}
/* remove sub nag */
.tw-mg-1.tw-border-t.tw-pd-t-1.tw-mg-b-0 {
  display: none;
}
/* less star vis */
.ffz--favorite.ffz-i-star {
  opacity: 0.1;
}
/* Add a break in FFZ's emotes list */
.simplebar-content > button[data-key="BetterTTV-addon--ffzap.betterttv--global-effects"] {
  margin-bottom: 40px !important;
}
/* Reduce opacity of FFZ links next to streamer name */
.ffz--links {
  opacity: 0.3;
}
/* Increase font size in thinner windows  - FFZ */
@media screen and (max-width: 1456px) {
  .chat-line__message {
    font-size: 1.1em;
  }
}
/* Fix overlay of "Stream chat" header in portrait mode layout */
.stream-chat-header {
  z-index: 0 !important;
}
.dUREKt {
  z-index: 1 !important;
}

/* Fix FFZ popout moving */
.chat-input > div:last-child .chat-input__buttons-container {
  flex-grow: 0;
}
@media screen and (max-width: 1456px) {
  .reward-center__content {
    left:-225px;
  }
}

/* Other Stuff! */

/* hide random-pick subgifts */
button[aria-label="Gift a Sub"],
button[aria-label="Gift a Sub: 35% off"],
.gift-subtember-button{
display: none
}

/* smallify follow/unfollow */
.lmNILC {
  height: 5px !important;
  opacity: 60%;
} 

/* smallify Resubscribe */
button[aria-label="Resubscribe"],
button[aria-label="Manage Your Sub"],
button[aria-label="Continue Sub"] {
  height: 8px !important;
  width: 65px;
  opacity: 60%;
} 

/* hide scrolling top-3 donors */
.DGdsv,
.cMeiZH {
  display: none;
}

/* Bigger volume slider */
.ScRangeInput-sc-q01wc3-0 {
  width: 30rem !important;
}

/* hide bits completely */
.kKpGeT:has(.ScFigure-sc-wkgzod-0),
.cFdOrq:has(.ScAnimatedNumber-sc-1iib0w9-0),
[aria-label="Cheer"],
.iZiJYe {
  display: none !important;
}

/* smaller ad reminder */
.bCLRwe, 
.iicccR {
  background: unset !important;
}
.iicccR, 
.cktECa, 
.iWJqAS {
  max-height: 9px !important;
}
.bBYTep {max-height: 1px !important;}

/* move around the settings menu (still busted in narrow windows) */
.Layout-sc-1xcs6mc-0.chat-settings__popover {
  position: absolute;
  left:-540px;
  top: -800px
}

/* Hide Skyrim bits-reward nonsesnse
.overlay-reduced.move-overlay {display: none;}
.Attached-sc-go6eno-0.cDMPKM {display:none}
*/
 
/* .mod-icon.ffz-mod-icon{
opacity: 0.25;
}
*/

/* wider bits menu */ 
.reward-center-body {max-width: unset;}

/* ignore captions icon */ 
button[aria-label="Captions (c)"] {opacity:20%;}

/* FFZ */
.emote-hidden {opacity: 0.2}

/* hide settings-menu items */
.jNrYjU:has(button[data-a-target="player-settings-menu-item-report"]) {display: none;}
.jNrYjU:has(button[data-a-target="player-settings-menu-item-report"]) +div {display: none;}
.jHGpDy:has([aria-label="Events will still appear when chat is hidden, including polls, predictions, pinned chats, and Hype Trains."]) {display: none !important}
.jHGpDy:has([aria-label="Events will still appear when chat is hidden, including polls, predictions, pinned chats, and Hype Trains."]) +div {display: none !important}

/* highlight raids */
.user-notice-line--highlighted > div {background: #540d19;}

/* hide the nags for giftsub renew */
.Layout-sc-1xcs6mc-0 .dxituZ {opacity:0.1;}

/* Bigger resolution button */
button[data-a-target="player-settings-menu-item-quality"] {font-size: large; height: 60px;}

/* fucking overlays */
.extension-view__iframe {display: none;}

/* smaller big emotes */
.chat-line__message--emote:not(.chat-line__message--ffz-giant-emote img) {
  height: 40px;
}
.ffz--inline:not(.scaled-modified-emote) .ffz-emoji {height: 40px !important; width: 40px !important;}
.modified-emote, .scaled-modified-emote {height: 30px !important; width: 30px !important;}

.emote-picker__emote-image {
height: 32px !important;
max-height: unset !important;
width: unset !important;
max-width: unset !important;
}

/* hide the new Combos bullshit */
.oneTapIngressButton--inGsR {display: none !important}

/* hide giftsub promo */
.Layout-sc-1xcs6mc-0.ScLayoutCssVars-sc-1pn65j5-0.cSjibW.fAKhSf.tw-root--theme-dark {display: none !important}

/* Hide button tooltips */
.foAhuv.tw-tooltip-layer {display: none}

/* END */
}
